# Scrap Book 1

- Purpose of notebook is to scrape Yelp API for datapoints we can use

In [1]:
import requests
import time
import pandas as pd

For Scrapping the Yelp Website, we created a function that pulled 1,000 data points off the API per the documentation required.

In [8]:
def query_pushshift(location, kind = 'submission'):
    SUBFIELDS = ['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
#define list up here to store infromation ebing done down there
    business = []
    for i in range(20):
        url = 'https://api.yelp.com/v3/businesses/search'
        API_key = 'MYAPI'
        headers = { "Authorization": f'Bearer {API_key}'}
        api_params = {'location' : {location},
              'limit' : 50,
              'offset': i* 50}
        print("Querying from: " + url)
        res = requests.get(url, headers = headers, params= api_params )
        assert res.status_code == 200
        mine = res.json()['businesses']
        df = pd.DataFrame.from_dict(mine)
        business.append(df)
        time.sleep(3)
        full = pd.concat(business, sort=False)
        if kind == "submission":
        # select desired columns
            full = full[SUBFIELDS]
    print("Query Complete!")    
    return full

We have decided to pull the data for as many areas of New York City as possible, by querying 1000 business around 5 random addresses. We have gathered 5000 businesses this way - as this is the maximum number of daily calls we could have made as per Yelp API policy.

In [9]:
df_bronx = query_pushshift('301 E 143rd St, The Bronx, NY 10451')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

In [10]:
df_harlem = query_pushshift('180 W 135th St, New York, NY 10030')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

In [11]:
df_upper_east = query_pushshift('226 E 85th St, New York, NY, 10028')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

In [12]:
df_upper_west = query_pushshift('63 West 104th Street, New York, NY, 10025')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

Once we have collected the maximum number of data allowed per day - we proceed to concatenate them into one dataframe. We are verifying that they all have the "price" ($) as this the feature which we try to invstigate and rop the rows where the price field is null. Afterwards we make sure that all these businesses are unique - as we can not be sure that the data we pulled belongs to different businesses - and we make sure that the businesses are still open:

In [14]:
df_uppernyc = pd.concat([df_bronx,df_harlem,df_upper_east,df_upper_west])

Now that we have our final data cleaned and ready to be exported - we extract all the zipcodes from the location column for further use.

In [15]:
locations = df_uppernyc['location']
zip_codes = [ sub['zip_code'] for sub in locations ] 
df_uppernyc['zip_codes'] = zip_codes

In [16]:
df_uppernyc

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance,zip_codes
0,xOw4aafJRji9XomGunlvcQ,central-park-new-york,Central Park,https://s3-media2.fl.yelpcdn.com/bphoto/ru79-O...,False,https://www.yelp.com/biz/central-park-new-york...,2403,"[{'alias': 'parks', 'title': 'Parks'}]",5.0,"{'latitude': 40.782418740809, 'longitude': -73...",[],NaN,"{'address1': '14 E 60th St', 'address2': '', '...",+12123106600,(212) 310-6600,5061.797799,10022
1,jVncyqXwlx_D9f2xZn05tg,the-metropolitan-museum-of-art-new-york-3,The Metropolitan Museum of Art,https://s3-media2.fl.yelpcdn.com/bphoto/lHEKQR...,False,https://www.yelp.com/biz/the-metropolitan-muse...,2837,"[{'alias': 'artmuseums', 'title': 'Art Museums'}]",4.5,"{'latitude': 40.779449, 'longitude': -73.963245}",[],NaN,"{'address1': '1000 5th Ave', 'address2': '', '...",+12125357710,(212) 535-7710,5166.853526,10028
2,hdBhZcdZGHkTESrldAObJg,la-morada-restaurant-bronx,La Morada Restaurant,https://s3-media4.fl.yelpcdn.com/bphoto/ACBPIZ...,False,https://www.yelp.com/biz/la-morada-restaurant-...,166,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",4.5,"{'latitude': 40.810552, 'longitude': -73.92142}","[delivery, pickup]",$$,"{'address1': '308 Willis Ave', 'address2': '',...",+17182920235,(718) 292-0235,447.557735,10454
3,fxGpXRxFUDzlU3Cyszu4uQ,red-rooster-harlem-new-york-3,Red Rooster Harlem,https://s3-media1.fl.yelpcdn.com/bphoto/BK_X-q...,False,https://www.yelp.com/biz/red-rooster-harlem-ne...,3223,"[{'alias': 'tradamerican', 'title': 'American ...",3.5,"{'latitude': 40.80815, 'longitude': -73.94488}",[],$$$,"{'address1': '310 Lenox Ave', 'address2': '', ...",+12127929001,(212) 792-9001,1971.752850,10027
4,UGECJrPSWy0n7PXykBBWAQ,two-little-red-hens-new-york-4,Two Little Red Hens,https://s3-media3.fl.yelpcdn.com/bphoto/gF02Oh...,False,https://www.yelp.com/biz/two-little-red-hens-n...,2561,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",4.5,"{'latitude': 40.777528, 'longitude': -73.9517869}",[],$$,"{'address1': '1652 2nd Ave', 'address2': None,...",+12124520476,(212) 452-0476,4772.967416,10028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,X5HmML-G--nt4lc5VQC2uQ,new-asia-new-york,New Asia,https://s3-media3.fl.yelpcdn.com/bphoto/1r-zFg...,False,https://www.yelp.com/biz/new-asia-new-york?adj...,42,"[{'alias': 'chinese', 'title': 'Chinese'}]",2.0,"{'latitude': 40.7918192446232, 'longitude': -7...","[delivery, pickup]",$$,"{'address1': '666 Amsterdam Ave', 'address2': ...",+16466783689,(646) 678-3689,1022.092080,10025
46,iOaIwnlMpciZMXjG3wlMSA,house-of-seafood-express-new-york,House Of Seafood Express,https://s3-media4.fl.yelpcdn.com/bphoto/tTC3PL...,False,https://www.yelp.com/biz/house-of-seafood-expr...,96,"[{'alias': 'seafood', 'title': 'Seafood'}]",2.5,"{'latitude': 40.81196, 'longitude': -73.94288}","[delivery, pickup]",$$,"{'address1': '429 Malcolm X Blvd', 'address2':...",+16464845059,(646) 484-5059,2305.942915,10037
47,_wl1dO2MYqLoTI2GxIzIAA,starbucks-new-york-493,Starbucks,https://s3-media2.fl.yelpcdn.com/bphoto/Uri6Ho...,False,https://www.yelp.com/biz/starbucks-new-york-49...,28,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",3.5,"{'latitude': 40.78272, 'longitude': -73.948474}",[],$,"{'address1': '245 East 93rd St', 'address2': '...",+16464558766,(646) 455-8766,2071.587812,10128
48,O2r5wo_xV9zrl61TcNug2Q,bermudez-bakery-new-york,Bermudez Bakery,https://s3-media4.fl.yelpcdn.com/bphoto/Q4cmKq...,False,https://www.yelp.com/biz/bermudez-bakery-new-y...,6,"[{'alias': 'bakeries', 'title': 'Bakeries'}]",4.5,"{'latitude': 40.7990115880966, 'longitude': -7...",[],$,"{'address1': '1875 Lexington Ave', 'address2':...",+12124272877,(212) 427-2877,1823.760356,10029
49,gF4WOspnk9KkUWKDi0uS9g,chipotle-mexican-grill-new-york-66,Chipotle Mexican Grill,https://s3-media2.fl.yelpcdn.com/bphoto/zbaFIG...,False,https://www.yelp.com/biz/chipotle-mexican-gril...,73,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",2.0,"{'latitude': 40.7862531509586, 'longitude': -7...",[],$,"{'address1': '2298 Broadway', 'address2': '', ...",+16464126237,(646) 412-6237,1801.235266,10024

Save all of the uppernyc data points to a csv to converge on in a file later on.

In [17]:
df_uppernyc.to_csv('./uppernyc.csv', index = False)