# Scrap Book 2

- Purpose of notebook is to scrape Yelp API for datapoints we can use

In [4]:
import json
import pandas as pd
import numpy as np
import requests
import time

Our data was gathered from Yelp Fusion API. Function was created to extract possible datapoints based on an exact address

In [10]:
def query_pushshift(location, kind = 'submission'):
    SUBFIELDS = ['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
    
#define list up here to store infromation ebing done down there
    business = []
    for i in range(20):
        url = 'https://api.yelp.com/v3/businesses/search'
        API_key = 'My API'
        headers = { "Authorization": f'Bearer {API_key}'}
        api_params = {'location' : {location},
              'limit' : 50,
              'offset': i* 50}
        print("Querying from: " + url)
        res = requests.get(url, headers = headers, params= api_params )
        assert res.status_code == 200
        mine = res.json()['businesses']
        df = pd.DataFrame.from_dict(mine)
        business.append(df)
        time.sleep(3)
        full = pd.concat(business, sort=False)
        if kind == "submission":
        # select desired columns
            full = full[SUBFIELDS]
    print("Query Complete!")    
    return full

We have decided to pull the data for as many areas of New York City as possible, by querying 1000 business around 5 random addresses. We have gathered 5000 businesses this way - as this is the maximum number of daily calls we could have made as per Yelp API policy.

In [11]:
rector_place = query_pushshift('225 Rector Pl, New York, NY 10280')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

In [12]:
midtown_west = query_pushshift('420 9th Ave, New York, NY 10001')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

In [13]:
upper_east_side = query_pushshift('116 E 80th St, New York, NY 10075')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

In [14]:
tribeca = query_pushshift('43 Wooster St, New York, NY 10013')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

In [15]:
midtown_east = query_pushshift('311 E 51st St, New York, NY 10022')

Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Querying from: https://api.yelp.com/v3/businesses/search
Query Complete!

Once we have collected the maximum number of data allowed per day - we proceed to concatenate them into one dataframe. We are verifying that they all have the "price" ($) as this the feature which we try to invstigate and rop the rows where the price field is null. Afterwards we make sure that all these businesses are unique - as we can not be sure that the data we pulled belongs to different businesses - and we make sure that the businesses are still open:

In [16]:
intermediary = pd.concat([rector_place, midtown_west, upper_east_side, tribeca, midtown_east])

In [17]:
intermediary.shape

(5000, 16)

In [18]:
intermediary['price'].isnull().sum()

209

In [19]:
intermediary.dropna(subset=['price'], inplace = True)

In [20]:
intermediary.shape

(4791, 16)

In [21]:
intermediary['is_closed'].value_counts()

False    4791
Name: is_closed, dtype: int64

In [22]:
intermediary['id'].unique()

array(['kxykwx5qTWBhlMh18MQ82Q', 'RemvTpxalDjSew5HwmNzUQ',
       '8qSOz7oTPUUCafsMOBBNEQ', ..., 'lXzK0i9VnocLzPFwmEQ8Aw',
       'rjAD4ynYMvXaL_qA7m-k1g', 'FbNzAk4zFdD4j6gQLunFHw'], dtype=object)

In [23]:
intermediary.drop_duplicates("id", inplace = True)

In [24]:
intermediary.shape

(3423, 16)

Now that we have our final data cleaned and ready to be exported - we extract all the zipcodes from the location column for further use.

In [27]:
locations = intermediary ['location']
zip_codes = [ sub['zip_code'] for sub in locations ]

In [28]:
len(zip_codes)

3423

In [7]:
locations = intermediary .head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,kxykwx5qTWBhlMh18MQ82Q,lukes-lobster-fidi-new-york,Luke's Lobster FiDi,https://s3-media2.fl.yelpcdn.com/bphoto/C5NV5l...,False,https://www.yelp.com/biz/lukes-lobster-fidi-ne...,1151,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.5,"{'latitude': 40.7046213003984, 'longitude': -7...","['delivery', 'pickup']",$$,"{'address1': '26 S William St', 'address2': ''...",1.212747e+10,(212) 747-1700,694.914546
1,RemvTpxalDjSew5HwmNzUQ,the-dead-rabbit-new-york,The Dead Rabbit,https://s3-media2.fl.yelpcdn.com/bphoto/_4T5R0...,False,https://www.yelp.com/biz/the-dead-rabbit-new-y...,1563,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",4.0,"{'latitude': 40.70329, 'longitude': -74.01102}",[],$$,"{'address1': '30 Water St', 'address2': '', 'a...",1.646423e+10,(646) 422-7906,801.933360
2,8qSOz7oTPUUCafsMOBBNEQ,pisillo-italian-panini-new-york,Pisillo Italian Panini,https://s3-media1.fl.yelpcdn.com/bphoto/UoXfEV...,False,https://www.yelp.com/biz/pisillo-italian-panin...,581,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 40.710558, 'longitude': -74.007594}","['delivery', 'pickup']",$$,"{'address1': '97 Nassau St', 'address2': '', '...",1.212227e+10,(212) 227-3104,727.968021
3,yH6t1JWcwkdWG4CS5KPvow,adriennes-pizzabar-new-york,Adrienne's Pizzabar,https://s3-media4.fl.yelpcdn.com/bphoto/MOG8wp...,False,https://www.yelp.com/biz/adriennes-pizzabar-ne...,1641,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,"{'latitude': 40.7043362, 'longitude': -74.0101...","['delivery', 'pickup']",$$,"{'address1': '54 Stone St', 'address2': None, ...",1.212248e+10,(212) 248-3838,752.315531
4,xTnivXEdEtXrnhp-z4JGvg,la-parisienne-new-york-5,La Parisienne,https://s3-media2.fl.yelpcdn.com/bphoto/8i6Hgi...,False,https://www.yelp.com/biz/la-parisienne-new-yor...,448,"[{'alias': 'french', 'title': 'French'}, {'ali...",4.5,"{'latitude': 40.70961, 'longitude': -74.0093799}","['delivery', 'pickup']",$$,"{'address1': '9 Maiden Ln', 'address2': None, ...",1.646756e+10,(646) 756-4911,570.496041

We export the cleaned data into csv format.

In [90]:
intermediary.to_csv('intermediary.csv', index = False)